/* lexend-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/lexend-v19-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lexend-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/lexend-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html, body {
	margin: 0;
	padding:0;
	height: 100%;
	text-align: center;
}

section {
	min-height: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

h1,h2,h3,a {
	font-family: 'Lexend';
	font-weight: 500;
	color: #494949;
	text-transform: uppercase;
}

h3{
	font-size: 40px;
	padding-top: 8%;
	margin-bottom: 5px;
}

h4, p {
	font-family: 'Lexend';
	font-weight: 300;
	color: #494949;
}

hr {
	width: 30px;
	height: 3px;
	background: #494949;
	border:0;
	margin: 0 auto 40px auto;
}

img, li, #logo {
	transition: all 300ms; 
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
}


header {
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	left 0;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	z-index: 1;
}

#logo {
	height: 45px;
	float: left;
	margin: 10px 0 0 50px;

}

#logo:hover {
	opacity: 0.5;
}

#logo img {
	max-height: 45px;
	width: auto;
	object-fit: contain;	
}

header nav {
	float: right;
	margin: 10px 50px 0 0;
}

header nav ul li {
	float: left;
	margin-right: 25px;
}

header nav ul li a {
	font-size: 16px;
}

header nav ul li:hover {
	padding-top: 5px;
}

#home {
	background: url(img/back.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#home h1{
	margin: 240px auto 0 auto;
	font-size: 110px;
}


#about img {
	width: 240px;
}

#about img:hover {
	transform: scale(1.1);
}

#about h4 {
	font-size: 25px;
}

#about p {
	width: 700px;
	margin: 0 auto 0 auto;
}

#apps{
	background-color: #f0f0f0; 
}

#applist{
	width: 900px;
	margin:0 auto 0 auto;

}

#applist ul{
	padding: 0;
}

#applist ul li {
	width: 33.3%;
	float: left;
	margin-bottom: 50px;
}

#applist img {
	max-height: 200px;
	width: auto;
	border-radius: 15px
}

#applist img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
